%h3 Заказ из Archery Store отправлен
%p Администрация магазина Pragmatic Store благодарит Вас за недавний заказ.
Вы заказали следующий товар:

%table
	%tr
		%th Кол-во
		%th Описание
		%th Цена
	= render @order.lina_items