- unless cart.lina_items.empty?
	%h2 Ваша корзина
	%table
		=render(cart.lina_items)
		%tr.total_line
			%td{:colspan => "2"} Total
			%td.total_cell= number_to_currency(cart.total_price)
	%p= button_to 'Оформить заказ', new_order_path, method: :get
	= button_to 'Очистить корзину', @cart, method: :delete, data: { confirm: 'Вы уверенны' }