// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products
	td { border: solid 1px #aaa; padding: 0.5em; vertical-align: center; text-align: center; }
	th {border: solid 1px #aaa; background-color:grey; text-transform: uppercase; text-align: center;}

.delete {
	float: right;
}