
=f.error_notification
=f.input :name, placeholder: "Name"
=f.input :price, placeholder: "Price"
=f.input :weight, placeholder: "Weight"
=f.input :description, placeholder: "Description"
=f.input :attachment